:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: black;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --blue: #1b263b;
  --glass: #e0e1dd;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #48cae4;
}

.titulosh1 {
  color: #3a86ff;
  font-size: 1.9rem;
  font-family: 'Rubik Maps';
  font-weight: 400;
  text-shadow: -1px -1px 0 #1b263b,  
                1px -1px 0 #1b263b,
               -1px 1px 0 #1b263b,
                1px 1px 0 #1b263b;
}

.client-register {  
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  /* padding: 0.5rem 3.5rem; */
  color: #ffffff;
  background: #1b263b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--glass);
  gap: 2rem;
  grid-template-columns: 13rem auto;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}
