
.main-content-only-table-conteiner {
  overflow-y: auto;
  padding: 70px 30px;
  position: relative;
}

.uk-button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}
.uk-button:hover {
  background-color: #1b263b !important;
}

.tab-panel {
  background-color: #1b263b !important;
  color: white !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

.buttonSave-tabpanel {
  background-color: #3a86ff !important;
  color: white !important;
}
.buttonSave-tabpanel:hover {
  background-color: #1b263b !important;
}

.back-to-grid {
  background-color: #5F5F5F !important;
  color: white !important;
  width: 10rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-bottom: 1.5rem !important;
}
.back-to-grid:hover {
  background-color: #3f3f3f !important;
}

.buttonFinishOrder-tabpanel {
  background-color: #4cb444 !important;
  color: white !important;
  width: 15rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-top: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.buttonFinishOrder-tabpanel:hover {
  background-color: #1b263b !important;
}

.buttonAdd-tabpanel {
  background-color: #4cb444 !important;
  color: white !important;
}
.buttonAdd-tabpanel:hover {
  background-color: #007200 !important;
}

.fieldsFinishOrder {
  margin-bottom: 1.5rem;
}

.infos-order {
  background-color: #f0f0f0;
  padding-left: 16px;
  border-radius: 2px;
}

.infos-order-fields {
  font-size: inherit;
  margin: 10px 0;
  color: #000;
}


.loading-editing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-editing::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #5465ff;
  border-color: #5465ff transparent #5465ff transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.save-button{
  background-color: #5465ff !important;
  color: white !important;
  width: 11rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-top: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.save-button:hover {
  background-color: #272e61 !important;
}

.close-button{
  background-color: #5F5F5F !important;
  color: white !important;
  width: 11rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-top: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.close-button:hover {
  background-color: #3f3f3f !important;
}


.back-button{
  background-color: #5F5F5F !important;
  color: white !important;
  width: 11rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-top: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.back-button:hover {
  background-color: #3f3f3f !important;
}


.add-button{
  background-color: #4cb444 !important;
  color: white !important;
  width: 11rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-top: 1.5rem !important;
  margin-right: 1rem !important;
}
.add-button:hover {
  background-color: #007200 !important;
}

.remove-button{
  background-color: #cc2017 !important;
  color: white !important;
  width: 11rem;
  height: 38px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  margin-top: 1.5rem !important;
  margin-right: 15px !important;
}
.remove-button:hover {
  background-color: #640507 !important;
}

.formating-tab-panel {
  padding: 0px !important;
}

.customTable {
  position: relative;
  z-index: 1;
}

.uk-text-muted {
  color: #999 !important;
}
.uk-text-emphasis {
  color: #333 !important;
}
.uk-text-primary {
  color: #1e87f0 !important;
}
.uk-text-secondary {
  color: #222 !important;
}
.uk-text-success {
  color: #32d296 !important;
}
.uk-text-warning {
  color: #faa05a !important;
}
.uk-text-danger {
  color: #f0506e !important;
}

.buttonSelect {
  height: '156px' !important;
}